fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2
google-auth==2.34.0
google-auth-oauthlib==1.2.1
google-cloud-tasks==2.16.5
google-api-python-client==2.143.0
redis==5.0.8
sse-starlette==2.1.3
httpx==0.27.2
